<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>My scratchboard page</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse"> <!-- Navigation toolbar -->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My scratchpad</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %} <!-- ONLY CAN LOGOUT IF USER AUTHENTICATED -->
                        <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        <div class="container"><!-- defines a container for class -->
            {% for comment in comments %} <!-- this is where the loop has comments added to it -->
                <div class="row" style="margin-bottom: 1ex">
                    <div>
                        {{ comment.content }} <!-- this is where content is uploaded from DATABASE -->
                    </div>
                    <div>
                        <small> <!-- this is where time is uploaded from DATABASE -->
                            Posted
                            {% if comment.posted %}
                                {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                            by <!-- this is where USER is uploaded from DATABASE -->
                            {% if comment.commenter %}
                                {{ comment.commenter.username }}
                            {% else %}
                                anonymous
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% endfor %}

            {% if current_user.is_authenticated %}<!-- CHECKS if USER IS AUTHENTICATED, MOVE THIS UP TO VIEWING PLACE -->
                <div class="row">
                    <form action="." method="POST"> <!-- posts comments if method is post -->
                        <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                        <input type="submit" class="btn btn-success" value="Post comment">
                    </form>
                </div>
            {% endif %}
        </div>

    </body>
</html>
