<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--THis makes the navbar responsive -> data-toggle = "collapse"-->

    <script>
        // Function used to show the password
        function myFunction() {
          var x = document.getElementById("r4");
          var y = document.getElementById("r5");
          if (x.type === "password" && y.type === "password") {
            x.type = "text";
            y.type = "text";
          } else {
            x.type = "password";
            y.type = "password"
          }
        }

        < ? php include "register.html"; ? >
    </script>

    <style>
        #myModal1 {
            height: 650px;
            overflow-y: auto;
        }
        .content {
            overflow: scroll;
        }
        #acc-icon, #acc-icon-txt {
            color: white;
            font-size: 18px;
        }
    </style>

    </head>



    <body class="content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

          <a class="navbar-brand" href="#">(Project Name)</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Meet the Team</a>
              </li>
                <a class="nav-link" href="#">Services</a>
              </li>
            </ul>
             <a href="#" id="acc-icon-txt"><i id="acc-icon" class="fa fa-fw fa-user"></i> Profile</a>
          </div>
        </nav>

        <br></br>

        <h1 class="text-center">Online Scheduling Tool!</h1>
        <h4 class="text-center">Plan Out Your Day Instantly. Try it Now!</h4>

        <br></br>

        <form>
        <div class="d-flex justify-content-center">
            <div class="form-group row text-center">
              <div class="col-xs-2 text-center">
                <label for="ex1">Due Date:</label>
                <input class="form-control" id="ex1" type="date" style="text-align: center">

                <br></br>

                <label for="ex2">Subject:</label>
                <input class="form-control" id="ex2" type="text" style="text-align: center" placeholder="Enter Subject">


                <br></br>

                <label for="ex3">Role:</label>
                <select name="role" id="ex3" class="text-center form-control">
                  <option value=""></option>
                  <option value="Student">Student</option>
                  <option value="Teacher">Teacher</option>
                </select>

                <br></br>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" action = "">Submit</button>
              </div>
            </div>
        </form>

          <!--Registration Page Modal-->
          <div class="modal fade" id="myModal1" role="dialog1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="d-flex justify-content-start"></h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body text-center">
                  <h4>Register Now!</h4>

                  <br></br>
                    <form action="." method = "post">
                      <label for="r1">First Name: </label>
                      <input class="form-control" id="r1" name="firstname" type="text" placeholder="John">

                      <br></br>

                      <label for="r2">Last Name: </label>
                      <input class="form-control" id="r2" type="text" placeholder="Doe">

                      <br></br>

                      <label for="r3">Email: </label>
                      <input class="form-control" id="r3" type="email" placeholder="jdoe@gmail.com">

                      <br></br>

                      <label for="r4">Create a Password: </label>
                      <input class="form-control" id="r4" type="password" placeholder="Password">

                      <br></br>

                      <label for="r5">Confirm your Password: </label>
                      <input class="form-control" id="r5" type="password" placeholder="Confirm Password">

                      <input type="checkbox" onclick="myFunction()"> Show Password

                      <br></br>

                      <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>


          <!--Login Page Modal-->
          <!--<div class="modal fade" id="myModal" role="dialog">-->
          <!--  <div class="modal-dialog">-->
          <!--    <div class="modal-content">-->
          <!--      <div class="modal-header">-->
          <!--        <h5 class="d-flex justify-content-start"></h5>-->
          <!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <!--      </div>-->

          <!--      <div class="modal-body text-center">-->
          <!--        <h4>Login to Continue</h4>-->

          <!--        <br></br>-->

          <!--        <label for="ex4">Email: </label>-->
          <!--        <input class="form-control" id="ex4" type="email" placeholder="jdoe@gmail.com">-->

          <!--        <br></br>-->

          <!--        <label for="ex5">Password: </label>-->
          <!--        <input class="form-control" id="ex5" type="password" placeholder="Password">-->

          <!--        <a href="#myModal1" data-toggle="modal" data-dismiss="modal" class="d-flex justify-content-md-end" style="line-height: 35px">Dont Have an Account? Register Now!</a>-->

          <!--        <br></br>-->

          <!--        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>-->

          <!--      </div>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
    </body>
</html>
